body {
  font-size: 1rem;
  margin-left: 15px;
  text-align: left;

  /* color: #dcb; */
}

td,
th {
  font-size: 1rem;
  background: #753;
  color: #dcb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
}

blockquote {
  margin-left: 35px;
  text-align: left;
}

.centered-image {
  display: block;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
